// Font Sources
$font_ppal: 'Roboto', sans-serif;

// Size Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #e8505b;
$secondary: #455a64; 
$black: #000;
$white: #FFFFFF;
$gray_light: #eceeef;

$separation: 4rem;
