@use '../base/variables' as v;
@use '../base/mixins' as m;

.contact_content {

    @media (min-width: 768px) { 
        @include m.grid(2, 2rem);

        background-image: url('../img/granos_cafe.jpg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50%;
    }

    @media (min-width: 890px) { 
        background-size: 40%;
    }

    @media (min-width: 1024px) { 
        background-size: 30%;
    }

}

.form {
    .field {
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        label {
            display: block;
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: 600;
        }

        input:not([type="submit"]) {
            padding: 1rem;
            border: 3px solid v.$primary;
            color: v.$black;
            width: 100%;
        }
        select {
            padding: 1rem;
            border: 3px solid v.$primary;
            width: 100%;
        }

        input[type="submit"] {
            background-color: v.$primary;
            border: none;
            color: v.$white;
            font-size: 2.2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 1rem;
            width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
