@use 'variables' as v;

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary;
}

.bg-white {
    background-color: v.$white;
}

.pb-0 {
    padding-bottom: 0rem !important;
}
