// Fonts
$font_ppal: 'Raleway', sans-serif;
$font_secondary: 'Roboto', sans-serif;
$font_cursive: 'Bona Nova', serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #5e311e;
$secondary: #c39c63;
$black: #000;
$white: #fff;
$gray_light: #eceeef;
$coffe_light: #ebe7de;

// Units
$separation: 5rem;
