:root {
    --primary: #6834a6;
    --white: #FFF;
    --black: #000000;
    --principalSource: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--principalSource);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
/* Use this instead of container */
/* Apply to all the classes end with __container */
[class$="__container"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
/* It is not necessary because the code above */
/* .container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
} */

[class$="__heading"] {
    text-align: center;
    margin-bottom: 5rem;
}

/* Header */
.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0;
}
@media (min-width: 768px) { 
    .header {
        background-size: 40rem;
    } 
}
@media (min-width: 990px) { 
    .header {
        background-size: 50rem;
    } 
}
@media (min-width: 1280px) { 
    .header {
        background-size: 60rem;
    } 
}

.header__container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) { 
    .header__bar {
        display: flex;
        justify-content: space-between;
    }
}

.header__logo {
    margin: 0 auto 3rem auto;
    width: 15rem; 
}
@media (min-width: 768px) { 
    .header__logo {
        margin: 0;
    } 
    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}

.header__heading {
    font-size: 2.2rem;
}
@media (min-width: 768px) { 
    .header__heading {
        text-align: left;
        font-size: 4rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) { 
    .header__img {
        max-width: 20rem;
        margin: 0 auto;
    }
    
}

.header__button {
    background-color: var(--primary);
    color: var(--white);
    display: block;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
}
@media (min-width: 768px) { 
    .header__button {
        padding: 1rem 3rem;
        display: inline-block;
    }
    
}

/* Navigation */
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { 
    .navigation {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
    
}
.navigation__link{
    color: var(--primary);
}
@media (min-width: 768px) { 
    .navigation__link {
        color: var(--white);
    }
    
}

/* Nucleus */
.nucleus {
    margin-top: 3rem;
}

.nucleus__grid {
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 768px) { 
    .nucleus__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
    
}

/* List */
.list {

}
.list__element {
    background-color: var(--white);
    box-shadow: 0px 0px 8px 3px rgb(0 0 0 / .15) ;
    padding: 10px;
    margin-bottom: 20px;
    transition-property: transform;
    transition-duration: .5s;
}
.list__element:hover {
    transform: scale(1.1);
}
@media (min-width: 768px) { 
    .list__element--2col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.list_heading {
   margin: 0;
   color: var(--primary);
}
.list__number {
    color: var(--primary);
    font-size: 4.2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
@media (min-width: 768px) { 
    .list__number {
        font-size: 3.2rem;
        flex-basis: 20rem;
        text-align: right;
        margin-right: 2rem;
    }
}
.list__text {
    font-size: 1.2rem;
    margin: 0;
}

/* Security */
.security {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 25rem 0;
    position: relative;
    margin: 10rem 0;
    overflow: hidden;
}
/* OJO: Solution diagonal IMPORTANT */
.security::before,
.security::after {
    background-color: var(--white);
    content: '';
    height: 30rem;
    width: 120%;
    position: absolute;
}
.security::before {
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}
.security::after {
    bottom: -20rem;
    left: -1rem;
    transform: rotate(3deg);
}

.security__heading {
    color: var(--white);
    margin: 2rem 0;
}

@media (min-width: 768px) { 
    .security__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

.security__image {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
}

.security__image__img {
    max-width: 70%;
}

/* Commissions */
@media (min-width: 768px) { 
    .commissions__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}
/* @media (min-width: 998px) { 
    .commissions__grid {
        align-items: center;
    }
} */

.commissions__text {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

/* Comments */
.comments {
    background-color: var(--primary);
    padding: 4rem 0;
}
.commments__heading {
    color: var(--white);
    margin: 0 0 3rem 0;
}
.comments__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media (min-width: 768px) { 
    .comments__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
.comments__content {
    background-color: var(--white);
    padding: 1.5rem;
    position: relative;
}
.comments__text {
    margin: 0;
    padding-left: 3rem;
    font-size: medium;
}
.comments__text::before {
    content: '';
    position: absolute;
    background-image: url(../img/comilla.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    height: 3rem;
    top: 2rem;
    left: 1rem;
    width: 3rem;
}
.comments__author {
    color: var(--primary);
    font-weight: 600;
    margin: 0;
    text-align: right;
}
